body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

Header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 90vw;
  background-color: inherit;
  margin: auto;
  justify-content: center;
  max-width: 1200px;
  margin-bottom: 4em;
  padding: 0;
}
Header button {
  height: auto;
}
Header h1 {
  color: #d20035;
  /* text-shadow: 0 0 10px #c30031; */
  transition: text-shadow 0.3s ease-in-out;
  margin-top: 0;
  font-size: calc(32px + 1.5vw);
  span {
    font-size: calc(40px + 1.5vw);
  }
}
Header h1:hover {
  text-shadow: 0 0 10px #c30031;
  /* text-shadow: 0 0 15px #830000, 0 0 30px #6b0101, 0 0 50px #000000;*/
}
Header img {
  border-radius: 50%;
  border: 2px solid black;
  width: calc(50px + 2vw);
  height: calc(50px + 2vw);
  transition: box-shadow 0.3s ease-in-out;
  align-self: top;
  margin-top: calc(8px - 0.4vw);
}

Header img:hover {
  box-shadow: 0 0 10px #c30031;
}

Header button {
  height: calc(50px + 2vw);
  width: calc(50px + 2vw);
  margin-top: calc(8px - 0.4vw);
  justify-self: right;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5w;
  border-radius: 5%;
  gap: 2em;
}
.article-list li:first-child .article-card {
  border-radius: 40px 40px 0 0;
}

.article-list li:last-child .article-card {
  border-radius: 0 0 40px 40px;
}
.article-card {
  width: 80vw;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(2, 0, 42, 0.5);
  padding: 3em;
  color: #f7f7ff;
  transition: background 0.3s ease-in-out;
}

.article-card:hover {
  /* box-shadow: 0 0 25px #c30031; */
  background: rgba(18, 14, 94, 0.5);
}
.article-card a {
  display: contents;
}
.article-card img {
  width: 80vw;
  max-width: 800px;
  grid-column: 1/3;
  border-radius: calc(8px + 1vw);
}
.article-topic {
  text-align: start;
  margin: 4px 4px;
  font-weight: 600;
  grid-column: 1 / 3;
}
.article-title {
  justify-self: center;
  grid-column: 1 / 3;
  max-width: 80%;
  word-wrap: break-word;
}
.article-author {
  grid-column: 2/2;
  text-align: end;
  margin: 4px 3vw;
}
.article-card .votes {
  grid-column: 1/1;
}

.article-page {
  width: 80vw;
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(2, 0, 42, 1);
  border-radius: 40px;
}
.article-page img {
  width: 80vw;
  max-width: 800px;
  border-radius: calc(8px + 1vw);
}
.comment-card {
  display: flex;
  align-items: flex-start;
  gap: 1.8em;
  padding: 12px;
}

.comment-left {
  display: flex;
  flex-direction: column;
}

.comment-votes {
  transform: translate(0, 2em);
  font-size: 1.2em;
  font-weight: 600;
  .rocket-svg {
    height: 24px;
    width: 24px;
    transform: translate(0, 0.2em);
  }
}

.comment-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 1.5em);
}

.comment-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.comment-content {
  flex: 1;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-author {
  font-weight: 600;
}
.article-vote-card {
  display: grid;
  font-size: 1.6em;
  font-weight: 800;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid red;
  z-index: 5;
}
.article-vote-card svg {
  height: 48px;
}

.upvote {
  transform: rotate(-45deg) translate(0, 0.5em);
}

.downvote {
  transform: rotate(135deg);
}

.comment-vote-card {
  display: grid;
  font-size: 1.6em;
  font-weight: 800;
  grid-template-rows: repeat(3, 1fr);
  border: 3px solid red;
  z-index: 5;
}
.comment-vote-card svg {
  height: 16px;
}
